<div class="weather-app">
  <h1>Weather App</h1>
  <p>Enter an address to get the weather forecast:</p>

  <%= render 'weather_form' %>

  <%= render 'flash_messages' %>

  <% if @weather_data && !@weather_data["error"] %>
    <div class="weather-results">
      <%= render 'weather_header' %>
      
      <%= render 'cache_indicator' %>
      
      <%= render 'current_weather' %>

      <%= render 'forecast_section' %>
    </div>
  <% end %>
</div>
